.nav {
    display: none;
    height: 200px;
    background: $color-third;
    @at-root &__list {
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between
    }
    @at-root &__left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-left: 2rem;
    }
    @at-root &__right {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-right: 2rem;
    }
    @at-root &__el {
        margin-bottom: 1rem;
        @at-root &:last-child {
            margin-bottom: 0;
        }
    }
    @at-root &__link {
        text-transform: uppercase;
        font-size: 1.1rem;
        color: $color-secondary;
        font-weight: bold;
    }
}

@media #{map-get($breakpoints, md)} {
    .nav {
        display: block;
        background: transparent;
        height: auto;
        padding: 2rem 4rem 0 4rem; 
        @at-root &__left, &__right {
            margin: 0;
            flex-flow: row nowrap;
        }
        @at-root &__el {
            margin-right: 1rem;
            @at-root &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media #{map-get($breakpoints, lg)} {
    .nav {
        @at-root &__link {
            font-size: 1.3rem;
        }
    }
}