.welcome {
    background: url("../img/header/background1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    @at-root &__desc {
        @include centerEl;
        margin-top: 5rem;
        width: 100%;
        padding: 0 2rem;
        text-align: center;
        color: $color-secondary;
    }
    @at-root &__title {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 2rem;
    }
    @at-root &__text {
        width: 80%;
        margin: 0 auto;
        font-size: 1.4rem;
        font-weight: 300;
    }
}

.button {
    margin-top: 4rem;
    font-size: 1.2rem;
    color: $color-secondary;
    background: $color-primary;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

@media #{map-get($breakpoints, md)} {
    .welcome {
        @at-root &__desc {
            padding: 0 4rem;
        }
        @at-root &__title {
            font-size: 5rem;
        }
        @at-root &__text {
            font-size: 1.6rem;
        }
    }
    .button {
        font-size: 1.4rem;
        letter-spacing: .1rem;
    }
}