/************IMPORT BASE************/
.about__title, .team__title, .work__title, .choose__title, .services__title {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 2rem;
}

.about__title::after, .team__title::after, .work__title::after, .choose__title::after, .services__title::after {
  content: '';
  display: block;
  width: 70px;
  height: 5px;
  background: #fc9e20;
  margin-top: .5rem;
}

.team__container, .work__container, .choose__container, .services__container {
  padding: 5rem 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

body a {
  color: #000000;
  text-decoration: none;
}

body a:hover {
  color: #4d4d4d;
}

/************END IMPORT BASE************/
/************IMPORT HEADER************/
.welcome {
  background: url("../img/header/background1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.welcome__desc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5rem;
  width: 90%;
  text-align: center;
  color: #fff;
}

.welcome__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2rem;
}

.welcome__text {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 300;
}

.button {
  margin-top: 4rem;
  font-size: 1.2rem;
  color: #fff;
  background: #fba419;
  border: none;
  padding: 1rem 1.4rem;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

/************END IMPORT HEADER************/
/************IMPORT NAV************/
.nav {
  display: none;
}

/************END IMPORT NAV************/
/************IMPORT HEADER************/
.header {
  border: 5px solid #fba419;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -90px) rotate(45deg);
}

.header__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg) translateY(37px);
}

.header__title {
  margin-bottom: .8rem;
}

.header__title::after {
  content: '';
  display: block;
  width: 60%;
  height: 2px;
  background: #989898;
  margin: 0 auto;
  margin-top: .5rem;
}

.header__title-link {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}

.header__dot {
  background: none;
  color: #fba419;
  font-size: 3rem;
}

.social-media {
  list-style-type: none;
  position: relative;
}

.social-media__el {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: .3rem;
  transition: all .3s ease-in;
}

.social-media__el:hover {
  border-color: #fba419;
}

.social-media__el:hover .social-media__link {
  color: #fba419;
}

.social-media__el:last-child {
  margin-right: 0;
}

.social-media__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in;
}

/************END IMPORT HEADER************/
/************IMPORT ABOUT****************/
.about {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.about__rhombus {
  width: 150px;
  height: 150px;
  border: 5px solid #fdd28e;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75px) rotateZ(45deg);
  z-index: -10;
}

.about__container {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.about__left {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 45%;
  padding-left: 2rem;
  float: left;
  position: relative;
  z-index: 1;
}

.about__title {
  color: #2f2f2f;
}

.about__title--enter {
  display: block;
  font-size: 2.5rem;
}

.about__title--yellow {
  color: #fc9e20;
}

.about__text, .about__text strong {
  font-size: 1.2rem;
}

.about__right {
  width: 55%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.about__img {
  width: 128px;
  height: 128px;
  overflow: hidden;
  opacity: .8;
  margin-bottom: 0rem;
  position: absolute;
  top: 0;
  left: 50%;
}

.about__img::before {
  content: '';
  display: block;
  width: 160%;
  height: 160%;
  background: url("../img/about/1.jpeg");
  background-size: cover;
  background-position: center;
  transform: rotateZ(-45deg);
  position: absolute;
  top: -30%;
  left: -40%;
  z-index: -15;
}

.about__img--first {
  transform: translate(30%, calc(100% - 75px)) rotateZ(45deg);
}

.about__img--second {
  transform: translate(-50%, calc(180% - 75px)) rotateZ(45deg);
}

.about__img--third {
  transform: translate(30%, calc(260% - 75px)) rotateZ(45deg);
}

.about__img--fourth {
  transform: translate(-50%, calc(340% - 75px)) rotateZ(45deg);
}

.about__img--second::before {
  background: url("../img/about/4.jpeg");
  background-size: cover;
  background-position: center;
}

.about__img--third::before {
  background: url("../img/about/3.jpeg");
  background-size: cover;
  background-position: center;
}

.about__img--fourth::before {
  background: url("../img/about/2.jpeg");
  background-size: cover;
  background-position: center;
}

/************END IMPORT ABOUT************/
/************IMPORT TEAM****************/
.team {
  background: #2f2f2f;
}

.team__title {
  font-size: 2.5rem;
  width: 50%;
  color: #fff;
}

.team__title--enter {
  display: block;
  font-size: 2.5rem;
  color: #fc9e20;
}

.team__text {
  color: #a4a4a4;
  font-size: 1.2rem;
}

.team__text--color {
  color: #fff;
  background: none;
  font-size: 1.2rem;
}

.team__btn-wrapper {
  text-align: center;
}

.team__wrapper-img {
  margin-top: 4rem;
}

.team__box-img {
  text-align: center;
  margin-bottom: 2rem;
}

.team__box-img:last-child {
  margin-bottom: 0;
}

.team__member {
  color: #fc9e20;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .5rem;
}

.team__role {
  color: #a4a4a4;
  font-size: 1.4rem;
}

/************END IMPORT TEAM************/
/************IMPORT WORK****************/
.work__title {
  width: 50%;
}

.work__title--enter {
  font-size: 2.5rem;
  display: block;
}

.work__title--color {
  color: #fc9e20;
}

.work__title::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin: 0;
}

.work__text {
  font-size: 1.2rem;
}

.work__btn-wrapper {
  text-align: center;
}

.work__images {
  margin-top: 4rem;
}

.work__img {
  margin: 0 auto 2rem auto;
  width: 280px;
  height: 280px;
  max-width: 100%;
}

.work__img--first {
  background: url("../img/work/1.jpeg");
  background-size: cover;
  background-position: center;
}

.work__img--second {
  background: url("../img/work/2.jpeg");
  background-size: cover;
  background-position: center;
}

.work__img--third {
  background: url("../img/work/3.jpeg");
  background-size: cover;
  background-position: center;
}

.work__img--fourth {
  background: url("../img/work/4.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

/************END IMPORT WORK************/
/************END IMPORT CHOOSE************/
.choose {
  background: #2f2f2f;
}

.choose__container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.choose__desc {
  margin: 0 4rem;
}

.choose__title {
  color: #fff;
  font-size: 2.5rem;
}

.choose__title--enter {
  color: #fc9e20;
  display: block;
  font-size: 2.5rem;
}

.choose__title::after {
  content: '';
  display: block;
  margin: 0;
  width: 0;
  height: 0;
}

.choose__advantage {
  display: flex;
  flex-flow: row nowrap;
}

.choose__icon {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.choose__icon img {
  width: 45px;
  height: 45px;
}

.choose__img {
  margin-top: 4rem;
  height: 40vh;
  background: url("../img/choose/background.jpeg");
  background-size: cover;
  background-position: center;
}

.advantage {
  margin-left: 2rem;
  margin-bottom: 1rem;
  color: #777777;
}

.advantage__title {
  color: #fff;
  margin: 0 0 .5rem 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}

.advantage__desc {
  font-size: 1.2rem;
}

/************END IMPORT CHOOSE************/
/************IMPORT SERVICES************/
.services__container {
  padding: 5rem 0 0 0;
}

.services__desc {
  text-align: right;
  padding: 0 4rem;
}

.services__title--color {
  color: #fc9e20;
}

.services__title--enter {
  display: block;
  font-size: 2.5rem;
}

.services__title::after {
  content: '';
  display: block;
  margin: 0;
  width: 0;
  height: 0;
}

.services__text {
  color: #040404;
  font-size: 1.2rem;
}

.services__text--color {
  color: #040404;
  font-size: 1.2rem;
}

.services__right-side {
  color: #fff;
  margin-top: 5rem;
  background: url("../img/services/1.jpeg");
  background-position: center;
  background-size: cover;
  padding: 4rem;
}

.options {
  background: #2f2f2f;
  padding: 4rem;
  display: flex;
  flex-flow: column nowrap;
}

.options__top, .options__bottom {
  display: flex;
  flex-flow: row nowrap;
}

.options__top {
  margin-bottom: 2rem;
}

.option {
  width: 50%;
  text-align: center;
}

.option:nth-child(1), .option:nth-child(3) {
  margin-right: 1rem;
}

.option__icon {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option__icon i {
  font-size: 2.5rem;
}

/************END IMPORT SERVICES************/
