.work {
    @at-root &__container {
        @extend %container;
        padding-bottom: 0;
    }
    @at-root &__title {
        width: 50%;
        @extend %title;
        @at-root &--enter {
            font-size: 2.5rem;
            display: block;
        }
        @at-root &--color {
            color: #fc9e20;
        }
        @at-root &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            margin: 0;
        }
    }
    @at-root &__text {
        font-size: 1.4rem;
    }
    @at-root &__btn-wrapper {
        text-align: center;
    }
    @at-root &__images {
        margin-top: 4rem;
    }

    &__img {
        display: block;
        width: 100%;
        margin: 0 auto 20px auto;
        &--first {
            max-width: 640px;
        }
        &--second {
            max-width: 360px;
        }
        &--third {
            max-width: 346px;
            margin-bottom: 0;
        }
        &--fourth {
            max-width: 346px;
        }
    }
}

@media #{map-get($breakpoints, sm)} {
    .work {
        @at-root &__container {
            padding-bottom: 0;
        }
    }
}

@media #{map-get($breakpoints, md)} {
    .work {
        @at-root &__container {
            padding-left: 8rem;
            @include clearfix;
        }
        @at-root &__title {
            @at-root &--color {
                font-size: 3rem;
            }
            @at-root &--enter {
                font-size: 3rem;
            }
        }
        @at-root &__text {
            font-size: 1.6rem;
        }

        &__column {
            @include clearfix;
        }

        &__img-wrapper {
            float: left;
            width: 50%;
            &:nth-child(1) {
                padding-right: 20px;
                & img {
                    margin-left: auto;
                }
            }    
        }

        &__img {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media #{map-get($breakpoints, lg)} {
    .work {
        @at-root &__container {
            padding-left: 12rem;
            padding-right: 0;
        }
        @at-root &__images, &__desc {
            margin-left: 0;
            margin-right: 0;
            max-width: 90%;
        }
    }
}
@media #{map-get($breakpoints, xl)} {
    .work {
        @at-root &__container {
            display: flex;
            flex-flow: row nowrap;
        }
        @at-root &__desc {
            width: 30%;
            margin-right: 4rem;
            display: flex;
            flex-flow: column nowrap;
            // justify-content: center;
        }
        @at-root &__images {
            width: 70%;
            max-width: 70%;
            margin-top: 0;
            @include clearfix;
        }
        &__column {
            width: 50%;
            float: right;
            &:nth-child(2) {
                padding-right: 30px;
                width: 60%;
            }
            &:nth-child(1) {
                max-width: 346px;
                width: 40%;
            }
        }

        &__img-wrapper {
            float: none;
            width: 100%;
        }

        &__img-wrapper:nth-child(1) {
            margin-bottom: 30px;
        }

        &__img {
            display: block;
            width: 100%;
            margin-bottom: 0;
            &--first {
                max-width: 640px;
            }
            &--second {
                max-width: 360px;
            }
            &--third {
                max-width: 346px;
            }
            &--fourth {
                max-width: 346px;
            }
            &--right {
                float: right;
            }
        }
    }
}