.about {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    @at-root &__rhombus {
        @include size($width: 150px);
        border: 5px solid #fdd28e;
        @include position($position: absolute, $top: 0, $left: 50%);
        transform: translate(-50%, -75px) rotateZ(45deg);
        z-index: -10;
    }
    @at-root &__container {
        max-width: 100%;
        // padding-bottom: 5rem;
        // @include clearfix;
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
    }
    @at-root &__left {
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 45%;
        padding-left: 2rem;
        // padding-right: 2rem;
        float: left;
        position: relative;
        z-index: 1;
    }
    @at-root &__title {
        color: $color-third;
        @extend %title;
        @at-root &--enter {
            display: block;
            font-size: 2.5rem;
        }
        @at-root &--yellow {
            color: #fc9e20;
        }
    }
    @at-root &__text, &__text strong {
        font-size: 1.4rem;
    }

    @at-root &__right {
        width: 55%;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        // justify-content: center;
        // transform: translateY(-75px);
    }

    @at-root &__img {
        width: 150px;
        height: 150px;
        overflow: hidden;
        opacity: .8;
        margin-bottom: 0rem;
        @include position($position: absolute, $top: 0, $left: 50%);
        @at-root &::before {
            content: '';
            display: block;
            @include size($width: 160%);
            background: url("../img/about/1.jpeg");
            background-size: cover;
            background-position: center;
            transform: rotateZ(-45deg);
            position: absolute;
            top: -30%;
            left: -40%;
            z-index: -15;
        }
        @at-root &--first/*, &--third*/ {
            // transform: translateX(-45%) rotate(45deg);
            transform: translate(30%, calc(100% - 75px)) rotateZ(45deg);
        }
        @at-root &--second/*, &--fourth*/ {
            // transform: translateX(15%) rotate(45deg);
            transform: translate(-50%, calc(180% - 75px)) rotateZ(45deg);
        }
        @at-root &--third {
            transform: translate(30%, calc(260% - 75px)) rotateZ(45deg);
        }
        @at-root &--fourth {
            transform: translate(-50%, calc(340% - 75px)) rotateZ(45deg);
        }
        @at-root &--second::before {
            background: url("../img/about/4.jpeg");
            background-size: cover;
            background-position: center;
        }
        @at-root &--third::before {
            background: url("../img/about/3.jpeg");
            background-size: cover;
            background-position: center;
        }
        @at-root &--fourth::before {
            background: url("../img/about/2.jpeg");
            background-size: cover;
            background-position: center;
        }
    }
}

@media #{map-get($breakpoints, md)} {
    .about {
        @at-root &__left {
            padding-left: 8rem;
        }
        @at-root &__title--enter {
            font-size: 3rem;
        }
        @at-root &__text, & strong {
            font-size: 1.6rem;
        }
        @at-root &__rhombus {
            @include size($width: 250px);
            border: 10px solid #fdd28e;
            left: 0;
            transform: translate(15%, -125px) rotateZ(45deg);
        }
        @at-root &__img {
            @include position($position: absolute, $top: 0, $left: 0%);
            @include size(200px);
            @at-root &--first {
                transform: translate(170%, calc(40% - 100px)) rotateZ(45deg);
            }
            @at-root &--second {
                transform: translate(90%, calc(120% - 100px)) rotateZ(45deg);
            }
            @at-root &--third {
                transform: translate(10%, calc(200% - 100px)) rotateZ(45deg);
            }
            @at-root &--fourth {
                transform: translate(170%, calc(200% - 100px)) rotateZ(45deg);
            }
        }
    }
}

@media #{map-get($breakpoints, lg)} {
    .about {
        @at-root &__left {
            padding-left: 12rem;
        }
        @at-root &__title--enter {
            font-size: 3.5rem;
        }
        @at-root &__text, &__strong {
            font-size: 1.8rem;
        }
        &__img {
            @include size(250px);
            @include position($position: absolute, $top: 0, $left: 100%);
            transform: translate(-75%, -15%) rotateZ(45deg);
            &--second {
                transform: translate(-152%, 62%) rotateZ(45deg);
            }
            &--third {
                transform: translate(-229%, 139%) rotateZ(45deg);
            }
            &--fourth {
                transform: translate(-75%, 139%) rotateZ(45deg);
            }
        }
        &__rhombus {
            @include size($width: 280px);
            border: 10px solid #fdd28e;
            left: 100%;
            transform: translate(-187%, -140px) rotateZ(45deg);
        }
    }
}

@media #{map-get($breakpoints, xl)} {
    .about {
        @at-root &__left {
            margin-top: 10rem;
            margin-bottom: 10rem;
        }
        &__img {
            @include size(300px);
            @include position($position: absolute, $top: 0, $left: 100%);
            transform: translate(-75%, -15%) rotateZ(45deg);
            &--second {
                transform: translate(-152%, 62%) rotateZ(45deg);
            }
            &--third {
                transform: translate(-229%, 139%) rotateZ(45deg);
            }
            &--fourth {
                transform: translate(-75%, 139%) rotateZ(45deg);
            }
        }
        &__rhombus {
            @include size($width: 280px);
            border: 10px solid #fdd28e;
            left: 100%;
            transform: translate(-200%, -140px) rotateZ(45deg);
        }
    }
}